<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <header th:insert="search.html"/>
    <header th:insert="header.html"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div th:each="books : ${books}" class="col-md-4 my-1">
<!--            <a th:href="@{|/details-produit/${books.title}|}" >-->
<!--                <img th:src="${produit.image}"  class="card-img-top" />-->
                <p th:text= "${books.title}"></p>
                <p th:text= "${books.synopsis}"></p>
            </a>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
