<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <header th:insert="search.html"/>
    <header th:insert="header.html"/>
</head>
<body>
<div class="container">
    <!--On affiche les livres avec le titre, nombre de pages, l'auteur et l'image de couverture-->
    <div class="row">
        <div th:each="book : ${book}" class="col-md-4 my-2">
            <!--            <a th:href="@{|/details-produit/${books.title}|}" >-->
            <!--                <img th:src="${produit.image}"  class="card-img-top" />-->
            <p th:text= "${book.title}"></p>
            <p th:text= "${book.pubDate}"></p>
            <p th:text= "${book.synopsis}"></p>
        </div>

        <div th:each="copy : ${copy}" class="col-md-4 my-2">
            <p th:text= "${copy.format}"></p>
            <p th:text= "${copy.numberCopy}"></p>
            <p th:text= "${copy.library.nom}"></p>
            <form id="formulaireEmprunt" th:action="@{/emprunt/add}" method="post">
                <input type="hidden" th:field="{copy.format}" name="format">
                <input type="hidden" th:field="{copy.numberCopy}" name="numberCopy">
                <input type="hidden" th:field="{copy.library.nom}" name="nameLibrary">
                <input class="ui-button" type="submit" value="Emprunter">
            </form>
        </div>

    </div>

</div>

</body>
