<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <header th:insert="search.html"/>
    <header th:insert="header.html"/>
</head>
<body>
<div class="container">
    <!--On affiche les livres avec le titre, nombre de pages, l'auteur et l'image de couverture-->
    <div class="row">
        <div th:each="book : ${book}" class="col-md-4 my-">
            <!--            <a th:href="@{|/details-produit/${books.title}|}" >-->
            <!--                <img th:src="${produit.image}"  class="card-img-top" />-->
            <p th:text= "${book.title}"></p>
            <p th:text= "${book.pubDate}"></p>
            <p th:text= "${book.synopsis}"></p>
            <p th:text= "${book.copyList.format}"></p>
            <p th:text= "${book.synopsis}"></p>
            </a>
        </div>
    </div>

</div>

</body>
