<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <header th:insert="search.html"/>
    <header th:insert="header.html"/>
</head>
<body>
<div class="container">
<!--On affiche les livres avec le titre, l'auteur, la date de parution, le nombre et lieu d'exmplaire disponible
    ainsi que son image de couverture-->
    <div class="row">
        <div th:each="books : ${books}" class="col-md-4 my-1">
            <a class="nav-link" th:href="@{'/book/'+${books.id}}"><p th:text= "${books.title}"></p></a>
            <p th:text="${books.author.lastName}"></p>
            <p th:text="${books.author.firstName}"></p>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
