<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="header.html"/>
</head>
<body>
<div class="container">

    <div id="row">
        <div class="col-6 md-4 my-1">
            <form id="formulaireCategorie" th:action="@{/books/categorie}" method="post">
                <select id="categorie" name="categorie">
                    <option value="">--</option>
                    <option th:each="categorie : ${categorie}" th:value="${categorie.label}"
                            th:text="${categorie.label}"/>
                </select>
                <input class="ui-button" type="submit" value="Rechercher">
            </form>
        </div>

        <div class="col-6 md-4 my -1">
            <div id="searchSaisie">
                <form id="formulairesaisie" th:action="@{/books/search}" method="post">
                    <label for="saisie">Saisir un auteur ou un titre de livre</label>
                    <input id="saisie" type="text" name="saisie">

                    <input class="ui-button" type="submit" value="Rechercher">
                </form>
            </div>
        </div>
    </div>

    <!--On affiche les livres avec le titre, l'auteur, la date de parution, le nombre et lieu d'exmplaire disponible
        ainsi que son image de couverture-->
    <div class="row">
        <div th:each="books : ${books}" class="col-md-4 my-1">
            <a class="nav-link" th:href="@{'/book/'+${books.id}}"><p th:text="${books.title}"></p></a>
            <p th:href="@{'/book/'+${books.id}}">
                <img th:src="@{'/img/'+${books.cover}+'.jpeg'}" class="card-img-top"/></p>
            <!--            <img th:src="'/static/img/'+${books.cover}+'.jpeg'"  class="card-img-top" />-->
            <p th:text="${books.author.lastName}"></p>
            <p th:text="${books.author.firstName}"></p>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
