<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <header th:insert="header.html"/>
</head>


<body>
<!--    On affiche le profil ( paramètre utilisateur, prêt en cours, etc...)-->
<div class="container">

    <div class="row">
        <!--        On affiche les prêt en cours-->
        <div th:each="emprunt : ${emprunt}">
            <p th:text="${emprunt.empruntDate}"></p>
            <p th:text="${emprunt.returnDate}"></p>
            <p th:text="${emprunt.extended}"></p>
            <p th:text="${emprunt.copy.book.title}"></p>
            <p th:text="${emprunt.copy.book.author.firstName}"></p>
        </div>

    </div>

</div>

</body>
</html>