<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="header.html"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all">
</head>


<body>
<!--    On affiche le profil ( paramètre utilisateur, prêt en cours, etc...)-->
<div class="container">
    <div class="row">
        <div th:each="customer : ${session.get('customer')}">
            <div class="col-md-6">
                <div class="label">Prénom : <span th:text="${customer.firstName}"></span></div>
                <div class="label">Nom : <span th:text="${customer.lastName}"></span></div>
                <div class="label">Adresse mail : <span th:text="${customer.email}"></span></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="label">adresse : <span th:text="${customer.adress}"></span></div>
                    <div class="label">Code postale : <span th:text="${customer.postalCode}"></span></div>
                    <div class="label">Ville : <span th:text="${customer.city}"></span></div>
                </div>
            </div>

            <button class="ui-button"><a th:href="@{'/updatePassword/'+${customer.id}}">Modifier mon mot de passe</a></button>

            <button class="ui-button"><a th:href="@{'/updateCustomer/'+${customer.id}}">Modifier mon profil</a></button>

        </div>
    </div>

</div>

</body>
</html>