<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div id="searchSaisie">
        <form id="formulairesaisie" th:action="@{/books/search}" method="post">
            <label for="saisie">Saisir un auteur ou un titre de livre</label>
            <input id="saisie" type="text" name="saisie">

            <input class="ui-button" type="submit" value="Rechercher">
        </form>
    </div>

</body>
</html>